.message-animate{
    width: 80%;
    animation: digitando 3s steps(25), blink .4s infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
}

@keyframes digitando{
    from{
        width: 0;
    }
}

@keyframes blink{
    40%{
        border-color: rgba(255,255,255,0.2);
    }
}

.apresentacao-img img{
    position: relative;
    animation-name: example;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
  
@keyframes example {
    from {
        padding-bottom: 20px;
    }

    to {
        padding-top: 20px;
    }
}