@use '../variables.sass'

.apresentacao-e-img
    display: flex
    align-items: center
    justify-content: space-between
    padding: 200px 0 300px 0

.apresentacao
    .message-animate
        color: variables.$cor-azul

    h1
        font-family: variables.$font-principal
        font-size: 60px
  
.apresentacao-img
    img
        width: 480px

.oq-sou
    padding: 15px 0
    font-size: 18px

.btns-curriculo-contato
    display: flex
    width: 100%
    justify-content: space-between
    margin-top: 20px

    .btn-curriculo
        background: variables.$cor-azul
        color: #fff
        padding: 15px 30px

    .btn-contato
        padding: 15px
        border: 1px solid
        border-image: linear-gradient(to right, blue, #bc4e9c) 1
        background: #000
        color: #fff
        font-size: 17px

